body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
}
:root {
  --primary-color: #272727;
  --primary-font: Roboto, sans-serif;
}

.b-header {
  height: 75vh;
  background-image: url(https://gaming-cdn.com/img/products/9575/hcover/9575.jpg?v=1708503564);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
  font-family: var(--primary-font);
}

.b-navbar-menu-img {
  margin-left: 10px;
}
.b-navbar_img {
  width: 70%;
}
.b-navbar {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  width: 90vw;
  margin: 0 auto;
}
.b-navbar-menu {
  align-items: center;
}
.b-enlaces {
  margin-left: 217px;
  display: flex;
  align-items: center;
}
.b-navbar_enlaces {
  padding: 10px;
  text-decoration: none;
  margin: 10px 8px;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: white;
}
.b-navbar_enlaces-search {
  color: white;
  background-color: #ff6a12;
  padding: 12px 14px;
  border-radius: 100%;
}

.b-navbar_right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
}
.b-navbar_link {
  color: white;
  padding: 10px;
}

.--flex {
  display: flex;
}
.b-info {
  margin-top: 250px;
  margin-left: 80px;
}
.b-info-title {
  font-family: Roboto, sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  color: white;
  margin: 0;
}
.b-info-price {
  display: flex;
  align-items: center;
  margin-top: 0;
}

.b-info-discount {
  background-color: #ff6a12;
  padding: 10px 15px;
  border-radius: 20%;
  border-top-right-radius: 60%;
  margin-right: 10px;
}
.b-info-money {
  color: white;
  font-size: 50px;
  margin: 0;
}

/* Aquí empieza el main*/

main {
  margin: 0 auto;
  font-family: var(--primary-font);
}
.b-main_tendencias {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}
.main_tendencias-title {
  display: flex;
  align-items: center;
  color: white;
  margin-top: 100px;
  font-size: 50px;
}

.main_tendencias-title span {
  font-size: 50px;
  color: grey;
}

/* Aqui va la galería */
.b-main_gallery {
  width: 80%;
  margin: 0 auto;
}
.b-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.b-galley__container {
  width: 30%;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
}
.b-galley__container img {
  width: 100%;
  border-radius: 10px;
  position: relative;
  transition: transform 0.2s;
}
.b-galley__container img:hover {
  transform: scale(1.1);
}
.b-gallery_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.b-gallery-discount {
  position: absolute;
  top: 65%;
  left: 0%;
  color: white;
  background-color: #ff6a12;
  padding: 10px 15px;
  border-radius: 20%;
  border-top-right-radius: 60%;
}

/* Aqui va la parte de calidad */

.b-main_quality {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.b-main_quality-container {
  display: flex;
  align-items: center;
}

.b-main_quality-box {
  display: flex;
  padding: 10px;
  align-items: center;
}

.b-main_quality-box span {
  color: #ff6a12;
  font-size: 70px;
  width: 30%;
}

.b-main_quality-info {
  display: flex;
  flex-direction: column;
  border-left: 1px solid lightgray;
  height: 60px;
  padding: 0px 10px;
}
.b-main_quality-title {
  margin: 0;
  color: white;
}

.b-main_quality-paragraph {
  margin: 0;
  color: white;
  font-weight: 300;
}

/* Aquí va la review */

.b-main-review {
  width: 100%;
  background-color: #323232;
  padding: 50px;
  height: 10%;
}

.b-main-review_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.b-main-review_info {
  display: flex;
  flex-direction: column;
  color: grey;
  font-family: var(--primary-font);
  width: 70%;
  margin-left: 40px;
  font-size: 20px;
}
.b-mian-review_link {
  width: 40%;
  text-align: center;
  color: white;
  padding: 20px 40px;
  background-color: #ff6a12;
  text-decoration: none;
  border-radius: 10px;
  margin: 20px auto;
}
.b-main-review_info-paragraph {
  text-align: center;
  padding-bottom: 20px;
}

.b-main-review_rating {
  color: #ff6a12;
  text-align: center;
}

.b-main_pacific-info {
  background-image: url(https://gaming-cdn.com/img/products/9575/hcover/9575.jpg?v=1708503564);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
  height: 60vh;
  
}
.b-main_pacific-info-text{
  position: relative;
  top: 198px;
  left: 70px;
}